


<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="app-header  mdl-layout__header mdl-layout_header--waterfall">
    <div class="mdl-layout__header-row">
     <!-- Title -->
      <span class="mdl-layout-title">
        <img class="app-header-logo" src="../../images/logobig.png" routerLink="">
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <nav class="app-navigation mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/accident">Accident prediction</a>
      </nav>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="app-navigation mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/decision">Decision support system</a>
      </nav>
      <div class="divider-vertical mdl-layout--large-screen-only"></div>


      <!-- Navigation. We hide it in small screens. -->
      <nav id="x1" class="app-navigation mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/add">Add Event</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/show">Show Events</a>
      </nav>

      <div class="divider-vertical mdl-layout--large-screen-only"></div>


      <nav class="app-navigation mdl-navigation mdl-layout--large-screen-only">
        <app-auth></app-auth>
      </nav>
    </div>
  </header>


  <!-- hamburger menu for small screen -->
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Waycare</span>
    <nav class="mdl-navigation">

      <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/accident">Accident prediction</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/decision">Decision support system</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/add">Add Event</a>
      <a class="mdl-navigation__link mdl-typography--text-uppercase" routerLink="/show">Show Events</a>

      <a *ngIf="! auth.authenticated()" class="mdl-navigation__link mdl-typography--text-uppercase" (click)="auth.login()">Login</a>
      <a *ngIf="auth.authenticated()" class="mdl-navigation__link mdl-typography--text-uppercase" (click)="auth.logout()">Logout</a>

    </nav>


  </div>



  <main class="mdl-layout__content" style="overflow: hidden">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>


</div>

