.app-header{
  overflow: visible;
  z-index: 50;
  background-color: white;
  cursor: pointer;
}

.app-header-logo{
  height: 35px;
  width: 175px;
}

.app-header .divider-vertical{
  height: 50px;
  margin: 0 9px;
  border-left: 3px solid #f2f2f2;
}

.app-header .mdl-navigation__link {
  color: #757575; 
  font-weight: 700;
  font-size: 14px;
}

.app-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}


.mdl-layout__header /deep/ .mdl-layout__drawer-button {
  color: black ;
}

