div.mdl-tabs__tab{
  cursor: pointer;
}
mdl-tab-panel-title{
  cursor: pointer;
}
.tab-heading{
  color: #E8E8E8;
  font-weight: 500;
  margin-left: 8px;
  margin-bottom: 8px;
}


.tab-content {
  height: 27vh;
  overflow: scroll;
}
