<mdl-tabs mdl-ripple mdl-tab-active-index="0" (mdl-tab-active-changed)="tabChanged($event)">
  <mdl-tab-panel>
    <mdl-tab-panel-title>
      <mdl-icon class="mdl-color-text--white">local_car_wash</mdl-icon><span class="tab-heading">Incidents</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      <div class="tab-content" *ngIf="section.incidents[0]">
        <app-incident-detail [incidents]="section.incidents"></app-incident-detail>
      </div>
    </mdl-tab-panel-content>
  </mdl-tab-panel>

  <mdl-tab-panel>
    <mdl-tab-panel-title>
      <mdl-icon class="mdl-color-text--white">wb_sunny</mdl-icon><span class="tab-heading">Weather</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      <div class="tab-content" *ngIf="section.weather[0]">
        <!-- TODO: delete the startHour once all sites start at 0:00 -->
        <app-weather-detail [weather]="section.weather[hour - startHour]"></app-weather-detail>
      </div>
    </mdl-tab-panel-content>
  </mdl-tab-panel>

  <mdl-tab-panel>
    <mdl-tab-panel-title>
      <mdl-icon class="mdl-color-text--white">warning</mdl-icon><span class="tab-heading">Events</span>
    </mdl-tab-panel-title>
    <mdl-tab-panel-content>
      <div class="tab-content" *ngIf="section.events[0]">
        <app-event-detail [events]="section.events"></app-event-detail>
      </div>
    </mdl-tab-panel-content>
  </mdl-tab-panel>

</mdl-tabs>
