

<div id="card1" [className]="myClass"  >
  <div class="mdl-card__title ">
  <h4>
            {{title}}  
   </h4>
    <hr>
  </div>

  <div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  
		  <tbody>

		    <tr *ngFor="let row of fieldsDataList">
		      <td class="mdl-data-table__cell--non-numeric"> {{row[0]}}: </td>
          <td  class="mdl-data-table__cell--non-numeric mdl-typography--font-bold"> {{row[1]}} </td>
		    </tr>

		  </tbody>

		</table>

  </div> 

  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      {{type}}
    </a>
    <div class="mdl-layout-spacer"></div>
  </div>

  <div class="mdl-card__menu">
    
    <button  *ngIf="data['eventEditCfg']" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="likeEvent(false)">
      <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
    </button>
     
    <button  *ngIf="data['eventEditCfg']" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="likeEvent(true)">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    </button>

    <button  *ngIf="data['eventEditCfg']" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="editEvent(true)">
      <i class="material-icons" >content_copy</i>
    </button>
        
    <button  *ngIf="data['eventEditCfg']" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="editEvent(false)">
      <i class="material-icons">edit</i>
    </button>

    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="deleteEvent()">
      <i class="material-icons">delete</i>
    </button>
  </div>

</div>
