
.Incident-card {
    background: url('../../../images/Incident.png')   #46B6AC;
}

.Event-card {
    background: url('../../../images/Event.png')   #46B6AC;
}


.demo-card-event.mdl-card {
  width: 350px;
  height: auto;
  float: left;
  margin: 5px;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 10;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #000; 
}

.mdl-data-table {
	background-color: #8ff;
}

table {
      width:100%;
}
