.outer-wrap {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.map div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map {
  z-index: 1;
  width: 100vw;
  height: 100vh;

}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: grey;
  opacity: 0.6;
}

.map-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60vh;
  z-index: 3;
  margin-top: 8vh;
}

.decision-card-wide.mdl-card {
  width: 756px;
  height: 640px;
}
.decision-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../../images/bg1.jpg') center / cover;
}
.decision-card-wide > .mdl-card__menu {
  color: #fff;
}
.overlay-card{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 3;

}
.centerFlex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.invalid-password{
  color: red;
  font-weight: 500;
}
.mdl-button.stretch{
  width: 90%;
  padding: 0px;
}
mdl-select.stretch{
  width: 100%;
  padding: 0px;
}
