<div class="outer-wrap">
  <sebm-google-map class="map" [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom" [mapDraggable]="true">

    <!-- removed because not in used and was depending on section.style that was changed-->

  </sebm-google-map>
  <!-- /Map -->
  <div class="overlay">


  </div>

  <div class="overlay-card centerFlex" [ngsReveal]="{duration:2000}">
    <!-- Login Card -->
    <!-- Wide card with share menu button -->

    <div class="decision-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">WAY-CARE</h2>
      </div>
      <div class="mdl-card__supporting-text">Users Login</div>
      <div class="mdl-card__actions mdl-card--border">

        <!-- USER -->
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-offset mdl-cell--6-col">
            <mdl-select class="stretch" floating-label [(ngModel)]="otherCountryCode2" placeholder="SELECT USER">
              <mdl-option [value]><em>-- Select a User --</em></mdl-option>
              <mdl-option *ngFor="let u of users" [value]="u.code">{{u.name}}</mdl-option>
            </mdl-select>
          </div>
        </div>
        <!-- Password -->

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-offset mdl-cell--6-col">
            <div class="stretch mdl-textfield mdl-js-textfield mdl-textfield--floating-label" (click)="onClick1()">
              <input class="mdl-textfield__input" type="password"  id="password">
              <label class="mdl-textfield__label" for="password">PASSWORD</label>
            </div>
            <span class="invalid-password" *ngIf="clicked">Invalid username and password</span>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--3-offset mdl-cell--6-col">
            <a class="submit-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent stretch" (click)="onClick()">
              Enter
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- /Login Card -->
  </div>
</div>
