<div class="weather-detail">
  <!-- Title -->
  <div class="mdl-grid">
    <div class="weather-detail-title mdl-cell mdl-cell--10-col mdl-cell--1-offset">Current Weather Conditions</div>
  </div>
  <!-- /Title -->

  <!-- Content -->
  <!-- bug fix: wether might not be defined outside timerange -->
  <div *ngIf="weather" class="mdl-grid">

    <!-- Left Col -->
    <div class="mdl-cell mdl-cell--8-col">

      <!-- Temp -->
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--2-offset">
          <div class="weather-detail-temperature">
            <span class="title">Temperature:</span>
            <span class="value">{{weather.temp}}</span>
          </div>
        </div>
      </div>
      <!-- /Temp -->

      <!-- Precipitation -->
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--2-offset">
          <div class="weather-detail-precipitation">
            <span class="title">Precipitation:</span>
            <span class="value">{{weather.precipitation}}</span>
          </div>
        </div>
      </div>
      <!-- /Precipitation -->

      <!-- Conditions -->
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--10-col mdl-cell--2-offset">
          <div class="weather-detail-conditions">
            <span class="title">Conditions:</span>
            <span class="value">{{weather.conditions}}</span>
          </div>
        </div>
      </div>
      <!-- /Conditions -->
    </div>
    <!-- /Left Col -->

    <!-- Right Col -->
    <div class="condition-icon mdl-cell mdl-cell--4-col">
      <img src="/images/weather-markers/{{weather.conditionsIcon}}-x-large.png">
    </div>
    <!-- Right Col -->

  </div>
  <!-- Content -->


</div>
