.weather-detail{

}

.weather-detail-title{
  font-weight: 700;
  color: #E8E8E8;
  font-size: x-large;
  text-decoration: underline;
}

/* Temperature */
.weather-detail-temperature{
  font-weight: 600;
  color: #E8E8E8;
  font-size: large;
}

.weather-detail-temperature .value{
  font-weight: 500;
  margin-left: 8px;
  color: #E8E8E8;
  font-size: large;
}

/* Precipitation */
.weather-detail-precipitation{
  font-weight: 600;
  color: #E8E8E8;
  font-size: large;
}

.weather-detail-precipitation .value{
  font-weight: 500;
  margin-left: 8px;
  color: #E8E8E8;
  font-size: large;
}

/*  */
.weather-detail-conditions{
  font-weight: 600;
  color: #E8E8E8;
  font-size: large;
}

.weather-detail-conditions .value{
  font-weight: 500;
  margin-left: 8px;
  color: #E8E8E8;
  font-size: large;
}

.condition-icon{
  justify-content: center;
}
