

.num-input {
	width: 70px;
	//color: blue;
	//font-size: 1.5vh;
	//height: 60px;
	text-align: center;
	background-color: LightCyan;
	border: none !important;
    border-color: transparent !important;
    outline: none;
    }


.show-title{
	font-size: 2.5vh;
}


.filter-input{
	background-color: LightCyan; 
}


a {
    cursor: pointer;
    border-width: 1px;
}

pagination-controls /deep/ .ng2-pagination  {
    padding: 3px;
}


