


<div class="mdl-grid filter-input">

	<!-- Search -->
	<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
		<!-- <i id="search" class="material-icons">search</i> -->
		<mdl-textfield #searchBox type="search" label="Search" floating-label 
               id="filterBy" [value]="filterBy" (keyup)="onSearchKey(searchBox.value)" ></mdl-textfield>
    </div>	


		
	<!-- date range -->
	<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
		<mdl-textfield #startBox type="date" label="Start date" floating-label 
               id="startDate" [max]="startDate" [value]="startDate" (change)="startDateChanged(startBox.value)" >
         </mdl-textfield>
    </div>	

	<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--2-col-phone">
		<mdl-textfield #endBox type="date" label="End date" floating-label 
               id="endDate" [min]="startDate" [value]="endDate" (change)="endDateChanged(endBox.value)" >
         </mdl-textfield>
    </div>	





</div>

<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--12-col mdl-cell--order-1">

		<mdl-tabs mdl-ripple [mdl-tab-active-index]="activeTabIndex" (mdl-tab-active-changed)="tabChanged($event)" >

			
		    <mdl-tab-panel *ngFor="let t of tabTypes" [mdl-tab-panel-title]="t">

				
			    <div>
			       <span> Display per page: </span>
					<input type="number" min="5" step="5" [(ngModel)]="showPerPage" class=" num-input">
				</div>


				<div *ngIf="t=='Incident'">

	    			<pagination-controls id="Incident" (pageChange)="p1 = $event" ></pagination-controls>
	    
					<div *ngFor="let item of els.incidents | filter: filterBy |
								paginate: { id: t, itemsPerPage: showPerPage, currentPage: p1 }">

		            	<app-card [data]=item></app-card>
		            </div>

	            </div>


				<div *ngIf="t=='Event'">

	    			<pagination-controls id="Event" (pageChange)="p2 = $event" ></pagination-controls>
	    
					<div *ngFor="let item of els.events | filter: filterBy |
								paginate: { id: t, itemsPerPage: showPerPage, currentPage: p2 }">

		            	<app-card [data]=item></app-card>
		            </div>

	            </div>


		  	</mdl-tab-panel>

		</mdl-tabs>

	</div>

</div>
