.outer-wrap {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.map div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.map {
  z-index: 1;
  width: 100vw;
  height: 100vh;

}

div.overlay {
  z-index: 2;
  opacity: 0.95;
}

.map-panel {
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 75vh;
  z-index: 3;
  margin-top: 8vh;
  overflow: hidden;
  width: 50vw;
  margin-right: 2vw;
  background: white;
  box-shadow: 10px 10px 5px grey;
}
.card-panel{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 75vh;
  width: 50vw;
  margin-top: 8vh;
  margin-right: 2vw;
}

.card-menu-panel{
  height: 65px;
}

.card-title{
  min-height: 10%;
}

.card-grid{
  margin: 0;
}

.card-title-text{
  font-family: 'Roboto Medium', sans-serif;
  font-weight: 500;
  margin: auto !important;
  #margin-left: 0 !important;
  #margin-top: 1vh !important;
}
.card-actions{
  padding-bottom: 0;
}

.card-actions button{
  font-family: 'Noto Sans', sans-serif;
}

.card-body{
  min-height: 70%;
}

.card-fab{
  display: block;
  position: absolute;
  left: 80%;
  transform: translateY(-50%) translateX(-50%);
}




.date {
  background: black;
  color: whitesmoke;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 20px 0 30px;
  padding: 10px 15px 8px;
  text-transform: uppercase;
  opacity: 0.95;

}

.panel-select {
  color: #2e2e2e;
  margin-right: 20px;
}

.panel-select-box {
  font-size: x-large;
}

mdl-select {

  margin: 0px 20px 0px 20px;
  font-weight: 700;
  font-size: xx-large;
  color: white;
}

.danger-index-panel {
  position: absolute;
  top: 75vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: 0.9;
}

.danger-level--title {
  font-size: x-large;
  color: #0000cc;
  font-weight: 700;
  margin-left: 24px;
  margin-bottom: 5px;
}

.css3gradient {
  width: 400px;
  height: 25px;
  background-color: #46d117;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#46d117, endColorstr=#bedb18);
  background-image: -moz-linear-gradient(left, #46d117 0%, #bedb18 25%, #ff2b00 100%);
  background-image: linear-gradient(left, #46d117 0%, #bedb18 25%, #ff2b00 100%);
  background-image: -webkit-linear-gradient(left, #46d117 0%, #bedb18 25%, #ff2b00 100%);
  background-image: -o-linear-gradient(left, #46d117 0%, #bedb18 25%, #ff2b00 100%);
  background-image: -ms-linear-gradient(left, #46d117 0%, #bedb18 25%, #ff2b00 100%);
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, #46d117), color-stop(25%, #bedb18), color-stop(100%, #ff2b00));
}


mdl-slider {
  background-color: silver;
}

.slider_title{
  margin-left: 10px;
}

.slider_title__name{
  font-weight: 500;
  color: #E8E8E8;
  font-size: x-large;
}

.slider-main{
  margin:0;
  width:100%;
}

.slider-element{
  margin-top: 0;
  background-color: white;
}

.slider-hour{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.slider-container{
  margin-top: 12px;
}
