<!-- Outer Wrap -->
<div class="outer-wrap">

  <!-- Map -->
  <sebm-google-map class="map" [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom" [mapDraggable]="true" (mapClick)="mapClicked($event)" (mapRightClick)="mapRightClicked($event)">

    <!-- Start point -->
    <sebm-google-map-circle *ngFor="let section of sections" [latitude]="section.startPoint.lat"
                            [longitude]="section.startPoint.lng" [radius]="50"></sebm-google-map-circle>
    <!-- Path -->
    <sebm-google-map-polyline *ngFor="let section of sections" [strokeWeight]="5"
                              [strokeColor]="getStyle(section).color" (lineClick)="onSelect(section.id)">

      <sebm-google-map-polyline-point *ngFor="let point of section.path" [latitude]="point.lat" [longitude]="point.lng">
      </sebm-google-map-polyline-point>

    </sebm-google-map-polyline>

    <!-- selected section -->
    <sebm-google-map-polyline *ngIf="selectedSection" [strokeWeight]="7"
                              [strokeColor]="black">
      <sebm-google-map-polyline-point *ngFor="let point of selectedSection.path" [latitude]="point.lat" [longitude]="point.lng">
      </sebm-google-map-polyline-point>

    </sebm-google-map-polyline>



    <!-- End point -->
    <sebm-google-map-circle *ngFor="let section of sections" [latitude]="section.endPoint.lat"
                            [longitude]="section.endPoint.lng" [radius]="50"></sebm-google-map-circle>

    <!-- Events -->
    <sebm-google-map-marker *ngFor="let event of events" [latitude]="event.lat" [longitude]="event.lng"
                            [iconUrl]="'images/event-markers/'+ event.icon + '.png'">

      <sebm-google-map-info-window [disableAutoPan]="true">
        <strong>{{event.title}}: </strong> {{event.description}} <br>Time: {{event.startTime}}
      </sebm-google-map-info-window>

    </sebm-google-map-marker>
    <!--/Events -->

    <!-- Incidents -->
    <sebm-google-map-marker *ngFor="let incident of incidents" [latitude]="incident.lat" [longitude]="incident.lng"
                            [iconUrl]="'images/incident-markers/'+ incident.icon + '.png'">
      <sebm-google-map-info-window [disableAutoPan]="true">
        <strong>{{incident.title}}: </strong> <br>Time: {{incident.hour}}

        <button  class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="editEvent(incident)">
                  <i class="material-icons">edit</i>
        </button>

      </sebm-google-map-info-window>
    </sebm-google-map-marker>
    <!-- /Incidents -->


  </sebm-google-map>
  <!-- /Map -->

  <!-- Overlay -->
  <div class="overlay">

  <!-- Road conditions card -->
    <div *ngIf="displayRoadCond" class="mdl-card mdl-shadow--16dp card-panel">

      <div class="mdl-card__title mdl-color--primary-dark card-menu-panel">
        <div class="mdl-card__menu">


          <button  class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="displayAddCard()">
              <i class="material-icons mdl-color-text--white">add</i>
          </button>


          <button  class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" >
              <i class="material-icons mdl-color-text--white">clear</i>
          </button>



        </div>
      </div>

      <div class="mdl-card__title mdl-color--primary mdl-card--expand card-title">

        <!-- Section Name -->
        <h2 class="mdl-card__title-text mdl-color-text--white card-title-text">{{selectedSection.name}}</h2>

      </div>

      <div class="mdl-card__actions mdl-color--primary card-actions">
        <!-- Flat button with ripple -->
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onClickTab(0)">
          CURRENT
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onClickTab(1)">
          24 HOURS
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onClickTab(2)">
          INFOGRAFICS
        </button>
        <div class="card-fab">
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent" (click)="onLeft()">
            <i class="material-icons">keyboard_arrow_left</i>
          </button>
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent" (click)="onLeft()">
            <i class="material-icons">keyboard_arrow_right</i>
          </button>
        </div>


      </div>
      <div class="mdl-card__supporting-text card-body">

        <div *ngIf="selectedTab == 0">
          <app-new-section [section]="selectedSection" [sliderTime]="sliderTime" [traffic]="traffic" [weather]="weather"
                           [incidents]="r_incidents"></app-new-section>
        </div>

        <div *ngIf="selectedTab == 1">

          <div class="mdl-grid slider-container">

            <div *ngFor="let hour of hours" class="mdl-cell mdl-cell--2-col slider-hour">
              {{hour}}
            </div>

            <div class="mdl-cell mdl-cell--12-col">
              <!-- slider -->
              <div class="mdl-grid slider-main">
                <div class="mdl-cell mdl-cell--12-col">
                  <div >
                    <mdl-slider class="slider-element" [min]="sliderCfg.min" [max]="sliderCfg.max" [step]="sliderCfg.step" [(ngModel)]="sliderTime">
                    </mdl-slider>
                  </div>
                </div>
              </div>
              <!--
              <div class="mdl-cell mdl-cell--10-col mdl-cell--1-offset">
                <div class="slider_title">
                  <span class="slider_title__name">Selected hour: {{sliderTime + ":00"}}</span>
                </div>
              </div>
              -->
              <!-- /Slider -->
            </div>
          </div>



          <app-pre-section [section]="selectedSection" [sliderTime]="sliderTime" [traffic]="traffic" [weather]="weather"
                           [incidents]="r_incidents"></app-pre-section>
        </div>

      </div>

    </div>




    <!-- Add Incident card -->
    <div *ngIf="!displayRoadCond" class="mdl-card mdl-shadow--16dp card-panel">

      <div class="mdl-card__title mdl-color--primary card-menu-panel">
        <div class="mdl-card__menu">

          <button  class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" 
                   (click)="clearAddCard()">
              <i class="material-icons mdl-color-text--white">clear</i>
          </button>

        </div>
      </div>


      <div class="mdl-card__title mdl-color--primary mdl-card--expand card-title">

        <!-- Card Title -->

        <div *ngIf="selectedAddTab == 0">
          <h2 class="mdl-card__title-text mdl-color-text--white card-title-text">Add Crash</h2>
        </div>

        <div *ngIf="selectedAddTab == 1">
          <h2 class="mdl-card__title-text mdl-color-text--white card-title-text">Add Construction</h2>
        </div>

        <div *ngIf="selectedAddTab == 2">
          <h2 class="mdl-card__title-text mdl-color-text--white card-title-text">Add Incident</h2>
        </div>

        <div *ngIf="selectedAddTab == 3">
          <h2 class="mdl-card__title-text mdl-color-text--white card-title-text">Add Event</h2>
        </div>

      </div>

      <div class="mdl-card__actions mdl-color--primary card-actions">
        <!-- Flat button with ripple -->
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onAddClickTab(0)">
          Crash
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onAddClickTab(1)">
          Construction
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onAddClickTab(2)">
          Incident
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onAddClickTab(3)">
          Event
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onAddClickTab(4)">
          Control
        </button>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" (click)="onAddClickTab(5)">
          INFOGRAFICS
        </button>

      </div>
      <div class="mdl-card__supporting-text card-body">

        <div *ngIf="selectedAddTab == 0">
          <app-new-add type="Incident" subType="Crash" [lat]="mapClickedLat" [lng]="mapClickedLng" ></app-new-add>
        </div>

        <div *ngIf="selectedAddTab == 1">
          <app-new-add type="Incident" subType="Construction" [lat]="mapClickedLat" [lng]="mapClickedLng" ></app-new-add>
        </div>

        <div *ngIf="selectedAddTab == 2">
          <app-new-add type="Incident" subType="Incident" [lat]="mapClickedLat" [lng]="mapClickedLng" ></app-new-add>
        </div>

        <div *ngIf="selectedAddTab == 3">
          <app-new-add type="Event" subType="Event" [lat]="mapClickedLat" [lng]="mapClickedLng" ></app-new-add>
        </div>

        <div *ngIf="selectedTab == 4">
        </div>

        <div *ngIf="selectedTab == 5">
        </div>

      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">More</a>
      </div>

    </div>

  </div>
  <!-- /Overlay -->

</div>
<!-- /Outer Wrap -->
