.report-main-title{
  margin-top: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: xx-large;
  margin-bottom: 12px;
}

.report-row{
  font-family: "Roboto Medium", sans-serif;
  font-size: x-large;
  margin-top: 32px;

}

.report-icon{
  margin-right: 12px;
}

.report-title{
  margin-right: 12px;
}

.report-value{

}

.report-row-sub{
  font-family: "Roboto Medium", sans-serif;
  font-size: larger;
  margin-top: 12px;
  margin-left: 24px;
}


.traffic{
  margin-top: 8px;
  height: 80px;
  overflow-y:scroll;
}


.weather{
  margin-top: 8px;
  height: 100px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.incident-card{
  min-height: 100px !important;
  max-height: 100px !important;
  cursor: pointer;
}

.incident-card-textfield{
  display: block;
  align-items: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

.ictf-1{

}

.ictf-2{
  margin-top: 12px;
}

.ictf-3{
  margin-top: 12px;
}

.ictf-type-title{
  font-weight: 600;
}

.ictf-type-value{
  font-weight: 300;
  color: lightgray;
}

.ictf-id{
  float: right;
}

.ictf-id-title{
  font-weight: 600;
}

.ictf-id-value{
  font-weight: 300;
  color: lightgray;
}

.ictf-des-title{
  font-weight: 600;
}

.ictf-des-value{
  font-weight: 300;
  color: lightgray;
}

.ictf-time-title{
  font-weight: 600;
}

.ictf-time-value{
  font-weight: 300;
  color: lightgray;
}

.incident-list-container{
  max-height: 250px;
  overflow-y: scroll;
}

.add-incident-container{
  margin-top: 32px;
}
