<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col">


    <div class="report-main-title">
      Road Conditions
    </div>

    <!-- risk level -->
    <div class="report-row report-row-first">
      <span class="report-icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
      <span class="report-title">Risk Level:</span>
      <span class="report-value" [style.color]="getStyle().color">{{getStyle().title}}</span>
    </div>

    <!-- traffic_conditions -->
    <div class="report-row">
      <span class="report-icon"><i class="fa fa-road" aria-hidden="true"></i></span>
      <span class="report-title">Traffic Conditions: </span>
      <span class="report-value" [style.color]="traffic.color">{{traffic.risk}}</span>
    </div>

    <!-- traffic_conditions.avg_commute_time -->
    <div class="traffic">
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        <span class="report-title">Avg' Commute Time: </span>
        <span class="report-value" [style.color]="traffic.color">{{traffic.speed}}</span>
      </div>

      <!-- traffic_conditions.avg.dis/hour -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
        <span class="report-title">Avg' Dis/hour: </span>
        <span class="report-value" [style.color]="traffic.color">{{traffic.dis}}</span>
      </div>

      <!-- traffic_conditions.avg.dis/hour -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-chain-broken" aria-hidden="true"></i></span>
        <span class="report-title">Avg' Hard Breaks/hour: </span>
        <span class="report-value" [style.color]="traffic.color">{{traffic.breaks}}</span>
      </div>
    </div>

    <!-- weather -->
    <div class="report-row">
      <span class="report-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
      <span class="report-title">Online Weather: </span>
      <span class="report-value" [style.color]="'green'"></span>
    </div>

    <div class="weather">

      <!-- weather.temp -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-thermometer-full" aria-hidden="true"></i></span>
        <span class="report-title">Temp: </span>
        <span class="report-value" [style.color]="'grey'">67</span><span> °F</span>
      </div>

      <!-- weather.conditions -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
        <span class="report-title">Conditions: </span>
        <span class="report-value" [style.color]="'grey'">{{weather.conditions}}</span>
      </div>

      <!-- weather.ground_visibility -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-eye" aria-hidden="true"></i></span>
        <span class="report-title">Ground Visibility: </span>
        <span class="report-value" [style.color]="weather.color">{{weather.visibility}}</span>
      </div>

      <!-- weather.wind -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-flag" aria-hidden="true"></i></span>
        <span class="report-title">Wind: </span>
        <span class="report-value" [style.color]="weather.color">{{weather.wind}}</span>
      </div>

      <!-- weather.ground_visibility -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-tint" aria-hidden="true"></i></span>
        <span class="report-title">Humidity: </span>
        <span class="report-value" [style.color]="'grey'">{{weather.hum}}</span>
      </div>

      <!-- weather.precipitation -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-area-chart" aria-hidden="true"></i></span>
        <span class="report-title">Precip: </span>
        <span class="report-value" [style.color]="'grey'">{{weather.precip}}</span>
      </div>


    </div>

  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <div class="report-main-title">
      Road Events
    </div>


    <div class="mdl-grid incident-list-container">

      <div *ngFor="let incident of incidents;let i = index;">
        <div class="card-container">
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-cell mdl-cell--10-col">
            <div class="mdl-card mdl-shadow--8dp incident-card">


              <!-- Edit-TODO -->
              <div class="mdl-card__menu"> 
                <button  class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" (click)="editEvent(incident)">
                  <i class="material-icons">edit</i>
                </button>
              </div>

              <div *ngIf="i%2 == 0">
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white mdl-card--expand incident-card-textfield">
                  <div class="ictf-1">
                    <span class="ictf-type-title">Type: </span>
                    <span class="ictf-type-value">{{incident.type}}</span>
                    <span class="ictf-id">
                <span class="ictf-id-title">ID: </span>
                <span class="ictf-id-value">{{incident.id}}</span>
              </span>
                  </div>
                  <div class="ictf-2">
                    <span class="ictf-des-title">Description</span>
                    <span class="ictf-des-value">{{incident.description}}</span>
                  </div>
                  <div class="ictf-3">
                    <span class="ictf-time-title">Time</span>
                    <span class="ictf-time-value">{{incident.time | date: "HH:mm"}}</span>
                  </div>
                </div>
              </div>
              <div *ngIf="i%2 == 1">
                <div class="mdl-card__title mdl-color--primary-dark mdl-color-text--white mdl-card--expand incident-card-textfield">
                  <div class="ictf-1">
                    <span class="ictf-type-title">Type: </span>
                    <span class="ictf-type-value">{{incident.type}}</span>
                    <span class="ictf-id">
                <span class="ictf-id-title">ID: </span>
                <span class="ictf-id-value">{{incident.id}}</span>
              </span>
                  </div>
                  <div class="ictf-2">
                    <span class="ictf-des-title">Description</span>
                    <span class="ictf-des-value">{{incident.description}}</span>
                  </div>
                  <div class="ictf-3">
                    <span class="ictf-time-title">Time</span>
                    <span class="ictf-time-value">{{incident.time | date: "HH:mm"}}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="mdl-layout-spacer"></div>
        </div>

      </div>

    </div>

    <div class="mdl-grid add-incident-container">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--accent">
        <i class="material-icons">add</i>
      </button>
    </div>


    <!--
    <ul class="mdl-list">
      <li class="mdl-list__item">
        <div class="mdl-card mdl-shadow--2dp card-panel">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            Incident
          </div>
          <div class="mdl-card__supporting-text mdl-color--primary mdl-color-text--white">
            Incident details
          </div>
          <div class="mdl-card__actions mdl-color--primary mdl-color-text--white">
            button
          </div>

        </div>
      </li>
      <li class="mdl-list__item">
        <div class="mdl-card mdl-shadow--2dp card-panel">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            Incident
          </div>
          <div class="mdl-card__supporting-text mdl-color--primary mdl-color-text--white">
            Incident details
          </div>
          <div class="mdl-card__actions mdl-color--primary mdl-color-text--white">
            button
          </div>

        </div>
      </li>
      <li class="mdl-list__item">
        <div class="mdl-card mdl-shadow--2dp card-panel">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            Incident
          </div>
          <div class="mdl-card__supporting-text mdl-color--primary mdl-color-text--white">
            Incident details
          </div>
          <div class="mdl-card__actions mdl-color--primary mdl-color-text--white">
            button
          </div>

        </div>
      </li>
      <li class="mdl-list__item">
        <div class="mdl-card mdl-shadow--2dp card-panel">
          <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            Incident
          </div>
          <div class="mdl-card__supporting-text mdl-color--primary mdl-color-text--white">
            Incident details
          </div>
          <div class="mdl-card__actions mdl-color--primary mdl-color-text--white">
            button
          </div>

        </div>
      </li>

    </ul>
    -->
  </div>
</div>
