<div [formGroup]="form">
  <br>
      



    <div  class="mdl-grid  mdl-grid--no-spacing">




      <div class="mdl-cell mdl-cell--5-col">

        <i *ngIf="question.icon!=''" [class]="question.icon" aria-hidden="true"></i>

        <label [attr.for]="question.key"  class="mdl-label"> {{question.label}}:</label>
      
      </div>


      <div  class="mdl-cell mdl-cell--7-col" >




        <div [ngSwitch]="question.controlType">
            

          <!-- Textfield -->

          <div *ngSwitchCase="'textbox'">



                <div *ngIf="question.type=='datetime-local'">

                    <div *ngIf="question.hideCond==''">
                        <mdl-textfield [type]="question.type"  
                             [placeholder]="dateTimePlaceholder" 
                             [id]="question.key" [formControlName]="question.key" ></mdl-textfield>
                    </div>
                    <div *ngIf="question.hideCond!=''">
                        <mdl-textfield [type]="question.type"   
                             [placeholder]="dateTimePlaceholder"      
                             [hidden]="form.controls[question.hideCond].value"
                             [id]="question.key" [formControlName]="question.key" ></mdl-textfield>
                    </div>

                </div>



                <div *ngIf="question.type!='datetime-local'">

                    <div *ngIf="question.hideCond==''">
                        <mdl-textfield [type]="question.type"   
                             [id]="question.key" [formControlName]="question.key" ></mdl-textfield>
                    </div>
                    <div *ngIf="question.hideCond!=''">
                        <mdl-textfield [type]="question.type"   
                             [hidden]="form.controls[question.hideCond].value"
                             [id]="question.key" [formControlName]="question.key" ></mdl-textfield>
                    </div>

                </div>




          </div>

            

          <div *ngSwitchCase="'dropdown'">

              <mdl-select [id]="question.key" [formControlName]="question.key" >
                  <mdl-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mdl-option>
              </mdl-select>

          </div>


          <!-- radio -->

          <div [id]="question.key" *ngSwitchCase="'radio'">
              <mdl-radio *ngFor="let opt of question.options" [value]="opt.key" 
                   [formControlName]="question.key" mdl-ripple >{{opt.value}} <br>
              </mdl-radio>
          </div>



          <!-- checkbox -->

          <div [id]="question.key" *ngSwitchCase="'checkbox'" >
              <mdl-checkbox [mdl-ripple]="true" [id]="question.key" [formControlName]="question.key" >
                  {{question.text}}
              </mdl-checkbox> 
          </div>



          <!-- multiCheckbox -->

          <div [id]="question.key" *ngSwitchCase="'multiCheckbox'" > 
                <div *ngFor="let opt of question.options" class="checkbox">
                    <mdl-checkbox [mdl-ripple]="true" [id]="opt.key" [formControlName]="question.key + '__' + opt.key" >
                        {{opt.text}}
                    </mdl-checkbox> 
                </div>
          </div>


          <!-- Other of multiCheckbox -->

          <div  *ngSwitchCase="'multiCheckbox'" > 
                <div *ngFor="let opt of question.options">
                   <div *ngIf="opt.altInput" style="margin-left: 60px">
                      <mdl-textfield [type]="text" [label]="opt.text" floating-label  
                           [hidden]="! form.controls[question.key + '__' + opt.key].value"
                           [id]="question.key + '__' + opt.key + '__altInput'"
                           [formControlName]="question.key + '__' + opt.key + '__altInput'" >
                      </mdl-textfield>
                  </div>
              </div>
          </div>

        </div>


      </div>

    </div>

</div>



