


<!-- selec type for add mode -->
<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col">
		<div *ngIf="!isEditMode" >
			<label for="type"  class="mdl-label"> Select type</label>
		    <mdl-select class="form-control" [(ngModel)]="type"  (change)="typeChanged()" >
		         <mdl-option *ngFor="let t of eventTypes" [value]="t" >{{t}}</mdl-option>
		    </mdl-select>
		</div>	
	</div>
</div>


<!-- info line -->
<div class="mdl-grid">

	<div class="mdl-cell mdl-cell--12-col mdl-cell--hide-phone">

		<div *ngIf="isEditMode && !readyForEdit" >
				<h3 class="mdl-typography--text-center"> Select an event for edit in Show page </h3>
		</div>

		<div *ngIf="!isEditMode" >
			<div *ngIf="type!=''">
				<h3 class="mdl-typography--text-center"> New {{type}} Entry </h3>
			</div>
		</div>	

		<div *ngIf="isEditMode && !copyMode" >
			<div *ngIf="type!=''">
				<h3 class="mdl-typography--text-center"> Edit {{type}} Entry </h3>
			</div>
		</div>	
	

		<div *ngIf="isEditMode && copyMode" >
			<div *ngIf="type!=''">
				<h3 class="mdl-typography--text-center"> Edit a copy of {{type}} Entry </h3>
			</div>
		</div>	

	</div>

</div>


<!-- the form... -->
<div *ngIf="!isEditMode || readyForEdit" class="mdl-grid" >

	<div class="mdl-cell mdl-cell--5-col mdl-cell--1-offset-desktop mdl-cell--1-offset-tablet mdl-cell--0-offset-phone">
	  <form (ngSubmit)="onSubmit()"  [formGroup]="form">

	    <div *ngFor="let question of questions" class="form-row">
	      <df-question [question]="question" [form]="form"></df-question>
	    </div>
	    <br>
	    <div class="form-row" class="mdl-cell mdl-cell--2-col mdl-cell--3-offset-desktop mdl-cell--3-offset-tablet mdl-cell--1-offset-phone" >

	      <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" (click)="onCancel()">Cancel</button>
	      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" [disabled]="!form.valid || !formReady()">Save</button>

	    </div>
	  </form>
	</div>
	
	<div class="mdl-cell mdl-cell--5-col">
	
		<sebm-google-map  [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom" [mapDraggable]="true" (mapClick)="mapClicked($event)">
   		</sebm-google-map>

	</div>


</div>

