



<!-- the form... -->
<div *ngIf="!isEditMode || readyForEdit" class="mdl-grid mdl-grid--no-spacing full-container" >

	<div class="mdl-cell mdl-cell--7-col">
	  <form (ngSubmit)="onSubmit()"  [formGroup]="form">




		<div [formGroup]="form">




	    <div *ngFor="let question of questions" class="form-row">
	      <df-question [question]="question" [form]="form"></df-question>
	    </div>




		</div> <!-- formGroup -->


	    <div class="form-row" class="mdl-cell mdl-cell--8-col mdl-cell--2-offset" >

	      <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored cancel-button" >Remove
	      <i class="fa fa-times" aria-hidden="true"></i>
	      </button>
	      
	      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored submit-button" [disabled]="!form.valid"  >Submit
	      <i class="fa fa-check" aria-hidden="true"></i>
	      </button>

	    </div>

	  </form>

	</div>
	


	<div class="mdl-cell mdl-cell--5-col">
	
		<sebm-google-map  [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom" [mapDraggable]="true" (mapClick)="mapClicked($event)">
   		</sebm-google-map>

   		<br>


   		<div>
   			<span class="info-title"> Report Details: </span> 

   			<br><br>

   			<span class="info-title"> Time: </span> 
   			<span class="info-data">
   				{{getDate()}} 
   			</span>

   			<br><br>
   			
   			<span class="info-title"> Description: </span> 
   			<span class="info-data">
	   			{{getDescription()}} 
	   		</span>
	   		
   		</div>


	</div>





</div>









