

.full-container {
	margin-top: 1vh;
	max-height: 50vh;
	overflow-y: scroll;
}


.mdl-radio {
  display: block;  
}

.cancel-button {
	background: red;
}

.submit-button {
	background: green;
}

.info-title {
	font-size: 120%;
}

.info-data {
	font-size: 120%;
}


.sebm-google-map-container {
     height: 25vh;
}
