<ul class="mdl-list">
  <li *ngFor="let e of events" class="event-item mdl-list__item mdl-list__item--three-line">
      <span class="event-item-title mdl-list__item-primary-content">
        <i class="event-item-icon material-icons mdl-list__item-icon">people</i>
        <span>{{e.title}}</span>
        <span class="mdl-list__item-text-body event-item-content">
          Description: {{e.description}} (Start time: {{e.startTime}}, End time: {{e.endTime}})
        </span>
      </span>
  </li>
</ul>
