.event-item{
  margin-left: 24px;
}

.event-item-title{
  font-size: large;
  color: #E8E8E8;
  font-weight: 600;
}

.event-item-icon{
  font-size: xx-large;
  color: #E8E8E8;
  margin-top: 20px;
}


span .event-item-content{
  margin-left:  24px;
  font-size: large;
  color: #E8E8E8;
  font-weight: 400;
}
