<!-- Title -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="title">
      <span class="title__name">Section ID:</span>
      <span class="title__desc">{{section.name}}</span>
    </div>
  </div>
</div>
<!-- /Title -->
<hr>

<!-- Alert -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <div class="alert">
      <span class="alert__title">Current Risk Level:</span>
      <!-- <span [style.color]="section.style.color" class="alert__value">{{section.style.title}}</span> -->
      <span [style.color]="getStyle().color" class="alert__value">{{getStyle().title}}</span>
    </div>
  </div>
</div>
<!-- /Alert -->
<hr>

<!-- Details -->
<div class="mdl-grid">
  <!--
  <div class="mdl-cell--6-col">
    <div class="incidents">
      <div class="incidents-title">Online Incidents:</div>
      <app-incident [incidents]="section.incidents"></app-incident>
    </div>
  </div>
  -->
  <!-- Section Detail -->
  <div class="section-detail mdl-cell--7-col">
    <app-section-detail [section]="section"></app-section-detail>
  </div>
  <!-- /Section Detail -->


  <!-- Chart -->
  <div class="mdl-cell--5-col">
    <div class="chart">
      <app-section-chart [section]="section"></app-section-chart>
    </div>
  </div>
  <!-- /Chart -->
</div>
<!-- /Details -->
