.title{
  margin-left: 30px;
}

.title__name{
  font-weight: 700;
  color: #E8E8E8;
  font-size: x-large;
}

.title__desc{
  font-weight: 500;
  margin-left: 8px;
  color: #E8E8E8;
  font-size: x-large;
}

.alert{
  margin-left: 30px;
}

.alert__title{
  font-weight: 700;
  color: #E8E8E8;
  font-size: x-large;
  vertical-align: middle;
}
.alert__value{
  margin-left: 8px;
  font-weight: 500;
  font-size: x-large;
  vertical-align: middle;
}

.incidents-title{
  font-weight: 500;
  color: #E8E8E8;
  font-size: x-large;
  vertical-align: middle;
}

