<div class="mdl-grid">


  <div class="mdl-cell mdl-cell--6-col">

    <!-- risk level -->
    <div class="report-row report-row-first">
      <span class="report-icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
      <span class="report-title">Risk Level:</span>
      <span class="report-value" [style.color]="getStyle().color">{{getStyle().title}}</span>
    </div>

    <!-- weather -->
    <div class="report-row">
      <span class="report-icon"><i class="fa fa-cog" aria-hidden="true"></i></span>
      <span class="report-title">Decision Support: </span>
      <span class="report-value" [style.color]="'green'"></span>
    </div>




    <div class="weather">

      <!-- weather.temp -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-align-justify" aria-hidden="true"></i></span>
        <span class="report-title">Daily Suggestions: </span>
      </div>
      <div class="report-row-sub">
        <span class="report-value" [style.color]="'darkblue'">"Preventative measures during: 12:00 - 16:00"</span>
      </div>

      <!-- weather.conditions -->
      <div class="report-row-sub">
        <span class="report-icon"><i class="fa fa-shield" aria-hidden="true"></i></span>
        <span class="report-title">Special Alert:</span>
      </div>
      <div class="report-row-sub">
        <span class="report-value" [style.color]="'darkblue'">"Chance for storm (35%) during 16:00 - 18:00"</span>
      </div>

    </div>

  </div>
  <div class="mdl-cell mdl-cell--6-col">

    <app-section-chart [section]="section"></app-section-chart>

  </div>
</div>
