<div *ngIf="incidents">
  <ul class="demo-list-two mdl-list">
    <li *ngFor="let incident of incidents" class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">{{incident.incidentIcon}}</i>
      <span>{{incident.incidentType}}</span>
      <span class="mdl-list__item-sub-title">Time {{incident.incidentTime}}</span>
    </span>
      <hr>
    </li>
  </ul>
</div>
<div *ngIf="!incidents">
  <div class="incident-placeholder">
    None
  </div>
</div>
