<ul class="mdl-list">
  <li *ngFor="let i of incidents" class="incident-item mdl-list__item mdl-list__item--two-line">
      <span class="incident-item-title mdl-list__item-primary-content">
        <i class="incident-item-icon material-icons mdl-list__item-icon">{{i.icon}}</i>
        <span>{{i.title}}  {{i.incidentType}}</span>
        <span class="mdl-list__item-sub-title incident-item-content">Incident Time: {{i.time | date:'medium'}}</span>
      </span>
  </li>
</ul>
