.incident-item{
  margin-left: 24px;
}

.incident-item-title{
  font-size: large;
  color: #E8E8E8;
  font-weight: 600;
}

.incident-item-icon{
  font-size: xx-large;
  color: #E8E8E8;
}


span .incident-item-content{
  font-size: large;
  color: #E8E8E8;
  font-weight: 400;
}

span .event-item-content-line{
  margin-bottom: 0px;
  margin-left: 100px !important;
}
