.outer-wrap {
  width: 100vw;
  height: 100vh;
  background: url("../../images/bg_home.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.submit-button{
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  text-align: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
  font-size: xx-large;
  margin-top: 30vh;
  height: 10vh;
}

.mdl-button.stretch{
  width: 90%;
  padding: 0px;
}
